<html>
<head>
    <title>CzarciKrag</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
{#			<img src="images/pic02.jpg" alt="" />#}
			<h1><a href="#">Logo</a></h1>
{#			<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>#}
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Strona główna</a></li>
				<li><a href="#" accesskey="2" title="">Cennik</a></li>
				<li><a href="#" accesskey="3" title="">Galeria</a></li>
				<li><a href="#" accesskey="4" title="">O nas</a></li>
				<li><a href="#" accesskey="5" title="">Kontakt</a></li>
                <li><a href="{% url 'login' %}" accesskey="6" title="">Logowanie</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="Aktualności" class="title">
			<h2>Nowości</h2>

                <table>
                {% if obj %}
                {% for k in obj %}
                    <tr> <td>Nagłówek {{ k.id}}</td> </tr>
                    <tr> <td>{{ k.col }}</td></tr>
                {% endfor %}
                {% endif %}

                </table>
		</div>
		<div id="welcome">
			<div class="title">
				<h2>Lorem ipsum dolor sit amet, consectetur</h2>
				<span class="byline">adipiscing elit. Donec tempor, dolor et sodales posuere, est ipsum tristique leo, aliquet consequat sem quam eget turpis.</span>
			</div>
			<p>In lacinia ultricies risus. Curabitur molestie, tortor id vulputate lacinia, neque arcu commodo diam, non eleifend metus lacus ac dolor. Nulla dui elit, pellentesque at lacus vel, convallis aliquam neque. Mauris viverra lectus vel dolor sagittis, sed tristique nisl scelerisque.</p>
		</div>
		<div id="featured">
			<div class="title">
				<h2>Donec ac augue lacus.</h2>
				<span class="byline">Morbi ut auctor nulla. Fusce tincidunt, eros vel pharetra pellentesque,</span>
			</div>
		</div>
	</div>
</div>


</body>
</html>