<html>
<head>
    <title>CzarciKrag</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
</head>
<body>
    <div id="page" class="container">
        <div style="padding: 2px 15px 2px 0; float: right;">
            <ul>
                <li>
                    {% if  user.TypUzytkownika == "Użytkownik" or user.TypUzytkownika == "Kierownik" or user.TypUzytkownika == "Administrator" %}
                        <p style="color: #bbccdd" >Zalogowany jako: {{user.Imie}} {{user.Nazwisko}}</p>
                    {% else %}
                        <p style="color: #2a2a2a"> Witaj</p>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div id="header">
            <div id="logo">
                <img src="{% static 'css/logo4.png' %}" alt="">
            </div>

            <div id="menu">
                <ul>
                    <li><a href="{% url 'home' %}" title="">Strona główna</a></li>
                    {% if user.TypUzytkownika == "Użytkownik" %}
                        <li><a href="{% url 'user_reservations' %}" title="">Moje rezerwacje</a></li>
                        <li><a href="{% url 'user_points' %}" title="">Moje punkty</a></li>
                        <li><a href="{% url 'user_profile' %}" title="">Profil</a></li>
                    {% elif user.TypUzytkownika == "Administrator" %}
                        <li><a href="{% url 'all_users' %}" title="">Użytkownicy</a></li>
                        <li><a href="{% url 'all_programs' %}" title="">Programy lojalnościowe</a></li>
                    {% endif %}
                    {% if user.TypUzytkownika == "Kierownik" or user.TypUzytkownika == "Administrator" %}
                        <li><a href="{% url 'all_reservations' %}" title="">Rezerwacje</a></li>
                        <li><a href="{% url 'notifications' %}" title="">Powiadomienia</a></li>
                        <li><a href="{% url 'all_boots' %}" title="">Buty</a></li>
                    {% endif %}
                    <li><a href="{% url 'prices' %}" title="">Cennik</a></li>
                    <li><a href="{% url 'gallery' %}" title="">Galeria</a></li>
                    <li><a href="{% url 'faq' %}" title="">FAQ</a></li>
                    <li><a href="{% url 'about' %}" title="">O nas</a></li>
                    <li><a href="{% url 'contact' %}" title="">Kontakt</a></li>
                    {% if user.TypUzytkownika == "Użytkownik" or user.TypUzytkownika == "Kierownik" or user.TypUzytkownika == "Administrator"  %}
                        <li><a href="{% url 'logout' %}?action=logout" title="">Wylogowanie</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}" title="">Logowanie</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="main">

            {% block content %}
            <div id="Aktualności" class="title" style="alignment: center">

                <h1>Nowości</h1>
                <hr><hr>

                <table style="margin-left: auto;margin-right: auto">
                {% if obj %}
                {% for k in obj %}
                    {% if k.Naglowek != "Cennik" %}
                    <tr> <td> <h3 style="text-align: center">{{ k.Naglowek}}</h3></td> </tr>
                    <tr> <td><span style="text-align: center">{{ k.Tresc }}</span></td></tr>
                    <tr> <td><hr></td></tr>
                    {% endif %}
                {% endfor %}
                {% endif %}

                </table>
            </div>

            {% endblock %}
            <div id="copyright">
                <span>&copy;Czarci Krąg. All rights reserved. </span>
            </div>

        </div>
    </div>
</body>
</html>