{% extends 'guest/home.html' %}

{% block content %}
    <div id="add_news" class="title">
        <h1>Dodawanie wiadomość</h1>
        <hr><hr>

        <form method="post">
            {% csrf_token %}

            <h3>Tytuł:</h3> <br/>
            {{ form.Title }}
            <br/>

            <h3>Wiadomość:</h3> <br/>
            {{ form.Content }}
            <br/>

            <h3>Istotność:</h3> <br/>
            {{ form.Istotnosc }}
            <br/>

            <br/>
            <button type="submit">Dodaj</button>
        </form>

    </div>

{% endblock %}
