{% extends 'guest/home.html' %}

{% block content %}
    <div id="notifications" class="title">
        <h1>Powiadomienia</h1>
        <hr><hr>
        {% if mail %}
        <h3>Twoja wiadomość została wysłana!</h3>
        {% endif %}

        {% if form %}
        <div style="text-align: left">
            <form method="post" >
                {% csrf_token %}
                <h3>Do: </h3><br/>
                {{ form.To }}
                <h3>Temat: </h3> {{ form.Subject }}<br/>
                <h3>Wiadomość:</h3><br/>
                {{ form.Msg }}<br/>
                <button type="submit" name="send">Wyślij</button>
            </form>
        </div>
        {% endif %}

    </div>

{% endblock %}



