{% extends 'guest/home.html' %}

{% block content %}
    <div id="all_programs" class="title">
        <h1>Wszystkie programy lojalnościowe</h1>
        <hr><hr>
        <table>
            {%  if programs %}
            {% for k in programs %}
                <tr><td><b>{{ k.IdUzytkownika.Imie }} {{ k.IdUzytkownika.Nazwisko }}</b></td></tr>
                <tr><td><b>{{ k.IdUzytkownika.email }}</b></td></tr>
                <tr> <td><b>{{ k.Punkty }}</b> -> {{ k.Nagroda }}</td> </tr>
                <tr><td>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="punkty"/> <button type="submit" name="dodaj" value="{{ k.id }}"> dodaj punkty </button>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <select name="nagroda" size="2">
                        <option value="talon">Talon</option>
                        <option value="medal">Medal</option>
                        <option value="zniżka 50%">Zniżka 50%</option>
                        <option value="darmowe wejście">Darmowe Wejście</option>
                        <option value="urodziny w czarcim kręgu">Urodziny w Czarcim Kręgu!</option>
                    </select>
                    <button type="submit" name="zmiana" value="{{ k.id }}"> zmień nagrodę </button>
                </form>
                </td> </tr>
                <tr><td> <hr></td> </tr>

            {% endfor %}
        {% endif %}
        </table>
        <br/><br/><hr>
        <h2>Dodaj do programu lojalnościowego</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit"> Dodaj </button>
        </form>
        <br/>

    </div>

{% endblock %}



