{% extends 'guest/home.html' %}

{% block content %}
    <div id="all_programs" class="title">
        <h1>Wszystkie programy lojalnościowe</h1>
        <hr><hr>
        <table>
            {%  if programs %}
            {% for k in programs %}
                <tr><td><b>{{ k.IdUzytkownika.Imie }} {{ k.IdUzytkownika.Nazwisko }}</b></td></tr>
                <tr><td><b>{{ k.IdUzytkownika.email }}</b></td></tr>
                <tr> <td><b>{{ k.Punkty }}</b> -> {{ k.Nagroda }}</td> </tr>
                <tr><td>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="punkty"/> <button type="submit" name="dodaj" value="{{ k.id }}"> dodaj punkty </button>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="nagroda"/> <button type="submit" name="zmiana" value="{{ k.id }}"> zmień nagrodę </button>
                </form>
                </td> </tr>
                <tr><td> <hr></td> </tr>

            {% endfor %}
        {% endif %}
        </table>
    </div>

{% endblock %}



