{% extends 'guest/home.html' %}

{% block content %}
    <div id="all_users" class="title">
        <h1>Wszyscy użytkownicy</h1>
        <hr><hr>
        <div id="userlist">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="search_text"/>
            <button type="submit" name="search" value="1"> szukaj </button>
        </form>
            {% if userlist %}
            <table>
            {% for k in userlist %}
                <tr> <td> <h3>{{ k.email}}</h3></td> </tr>
                <tr> <td><span>{{ k.Imie }} {{ k.Nazwisko }}</span></td></tr>
                <tr> <td><form method="post">{% csrf_token %}<input type="hidden" name="idnum" value="{{ k.id }}"><button type="submit">szczegóły</button> </form></td></tr>
                <tr><td><hr></td></tr>
            {% endfor %}
            </table>
            {% endif %}



        </div>

    </div>

{% endblock %}



