{% extends 'guest/home.html' %}

{% block content %}
    <div id="About" class="title">
        <h1>O nas</h1>
        <hr><hr>
        <br/>

        <p>
            Jesteśmy firmą działającą na polskim rynku rozrywkowym od 2001 roku. W naszej ofercie znajdują się: <br/>
            <ol>
                <li><b>Profesjonalne tory do gry w kręgle</b></li>
                <li><b>Stoły do gry w bilard</b></li>
                <li><b>Usługi gastronomiczne  ( mamy najsmaczniejszą pizzę w mieście)</b></li>
            </ol>
            <br/>
            Z Kręgielni „Czarci Krąg” korzystają ludzie w każdym wieku od tych najmłodszych do seniorów. Jesteśmy cenieni za nasz profesjonalizm i panujący porządek.
            <br/>
            Zapraszamy każdą osobę, szukającą nowych i nie zapomnianych wrażeń!
            <br/>
            Obecnie w czasie pandemii COVID-19 zachowujemy wszystkie środki bezpieczeństwa sanitarnego.<br/>
            Przyjdź, zagraj, zjedz i baw się dobrze!!<br/>
            Zapraszamy!!<br/>


        </p>

    </div>

{% endblock %}



