{% extends 'guest/home.html' %}
{% block content %}
    <div id="Gallery" class="title">
        <h1>Galeria</h1>
        <hr><hr>

{#        <img src="{% static 'galeria/p1.png'  %}" style="width: 30%; height: auto">#}

{#        <div style="width: 30%; height: auto">#}
{#            <img src="{% static 'galeria/p2.png' %}">#}
{#        </div>#}
{#        <div style="width: 30%; height: auto">#}
{#            <img src="{% static 'galeria/p3.png' %}">#}
{#        </div>#}

    </div>

{% endblock %}



