{% extends 'guest/home.html' %}
{% load static %}
{% block content %}
    <div id="Gallery" >
        <h1>Galeria</h1>
        <hr><hr>

{#        <img src="{% static 'galeria/p1.png'  %}" style="width: 30%; height: auto">#}
        <div id="logo">
            <img src="{% static 'galeria/p1.png' %}" alt="">
        </div>
        <div id="logo">
            <img src="{% static 'galeria/p2.png' %}" alt="">
        </div>
        <div id="logo">
            <img src="{% static 'galeria/p3.png' %}" alt="">
        </div>

    </div>

{% endblock %}



