{% extends 'guest/home.html' %}

{% block content %}
    <div id="User_bookings" class="title">
        <h1>Moje rezerwacje</h1>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Rezerwuj</button>
    </form>
    </div>
    <hr>
    <div>
    <table>
        {% if bookinglist %}
        {% for book in bookinglist %}
            <tr> <td> <h3>{{ book.IdUslugi.NazwaUslugi }}</h3></td> </tr>
            <tr> <td><span>{{ book.Uwagi }} </span></td></tr>
            <tr> <td><span>{{ book.DataRozpoczecia }} - {{ book.DataZakonczenia }} </span></td></tr>
            <tr> <td><form method="post">{% csrf_token %}<button type="submit" name="bookid" value="{{ book.id }}">Usuń</button></form></td></tr>
            <tr> <td><hr></td></tr>
        {% endfor %}
        {% endif %}
    </table>
    </div>
{% endblock %}



